<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-netmera" version="0.0.1">
    <name>NetmeraPushNotification</name>

    <description>An Android Cordova plugin that allows users to send notification messages.</description>
    <license>MIT</license>

    <keywords>cordova,android,notification,message,alert</keywords>
    <repo>https://github.com/ertuncs/cordova-plugin-netmera.git</repo>
    <issue>https://github.com/ertuncs/cordova-plugin-netmera/issues</issue>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.1.0"/>
        <engine name="cordova-ios" version=">=4.5.0"/>
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PushNotification">
                <param name="android-package" value="com.ttport.netmera.push.NetmeraPushPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <framework src="src/android/app.gradle" custom="true" type="gradleReference" />

        <framework src="com.google.code.gson:gson:2.8.5"/>
        <framework src="com.netmera:netmera:3.6.8"/>
        <framework src="com.google.firebase:firebase-core:16.0.8"/>
        <framework src="com.google.android.gms:play-services-location:16.0.0"/>
        <source-file src="src/android/com/ttport/netmera/push/NetmeraPushPlugin.java" target-dir="src/com/ttport/netmera/push/"/>
    </platform>

    <platform name="ios">
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="Netmera" />
            </pods>
        </podspec>

        <config-file target="config.xml" parent="/*">
            <feature name="NetmeraPlugin">
                <param name="ios-package" value="NetmeraPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/NetmeraPlugin.m" />
        <source-file src="src/ios/NetmeraPlugin.h"/>
    </platform>
</plugin>
